.h3 {
    font-family: Monaco;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 10px;
}

.consoletxt {
    position: relative;
    top: 35px;
    left: -30px;
    
}

.bannerfont {
    color: white;
    width: 100%;
    float: left;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
}