canvas {
    border: 1px solid black;
    background: beige;
    height: 400px;
    width: 400px;
}

/* Dette øverset del sørger for at der ikke er en hcid border hele vejen ude i kanten */
* {
    box-sizing: border-box;
    margin: 0
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #161616;
}

/* Dette styke style bestemer hvordan mit header skal se ud */
header {
    width: 100%;
    background-image: url(Billeder/Header.jpeg);
    background-size: cover;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Den har styler navigations menuen */
nav {
    background: #194350;
    padding: 20px;

}

p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white; 
}

h1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    color: white; 
}

 .container {
        position: relative;
        width: 200px;
        margin: 0 auto; 
    }

/* Menuen er sat op i liste form. Dette sørger for at det ser godt ud */
/* De tre næste hjælper menuen med at se og fungere bedre. Den sætter noget skygge på og lidt animation som hover effekt*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9dbeb9;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #ff8882;
}


/* dette sørger for det link der står i footeren */
.LTP {
    color: orange;
    text-shadow: 1px 1px red;
}

/* Sørger for footerens farve */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1d1b1d;
    padding: 10px;
    text-align: center;
}

/* Dette stykke  gør at hjemmesinde fungerer i foreskellige størelser, så du kan bruge det på alle devices, Du kan prøve at rezise din browser. Når browseren bliver smalt nok så rykker menuen sig på toppen for at gøre det mere brugervenligt */
@media (max-width: 600px) {
    section {
        flex-direction: column;
    }
}
