canvas#viewport {
    border: 1px solid black;
    background: beige;
    height: 400px;
    width: 400px;
}

#myContainer {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}

#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
}

/* Dette øverset del sørger for at der ikke er en hcid border hele vejen ude i kanten */
* {
    box-sizing: border-box;
    margin: 0
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: gray;
}

/* Dette styke style bestemer hvordan mit header skal se ud */
header {
    width: 100%;
    background-image: url(Billeder/Header.jpeg);
    background-size: cover;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Dette sørger for at alt i sectionet rykkeer sig godt i forhold til hindanden */
section {
    display: flex;
}

/* Den har styler navigations menuen */
nav {
    background: #194350;
    padding: 20px;

}

/* Menuen er sat op i liste form. Dette sørger for at det ser godt ud */
/* De tre næste hjælper menuen med at se og fungere bedre. Den sætter noget skygge på og lidt animation som hover effekt*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #9dbeb9;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #ff8882;
    font-weight: Bold;
}

/* Den her styler alt inden for artilkerne. I mit tilfæld bruger jeg det mest til farver. Der er specifike steder inde i HTMLen hvor der bliver specificeret størrelsen til et lille stykke tekst */
article {
    flex-wrap: wrap;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
}

/* dette sørger for det link der står i footeren */
.LTP {
    color: orange;
    text-shadow: 1px 1px red;
}

/* Sørger for footerens farve */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1d1b1d;
    padding: 10px;
    text-align: center;
}

/* Dette stykke  gør at hjemmesinde fungerer i foreskellige størelser, så du kan bruge det på alle devices, Du kan prøve at rezise din browser. Når browseren bliver smalt nok så rykker menuen sig på toppen for at gøre det mere brugervenligt */
@media (max-width: 600px) {
    section {
        flex-direction: column;
    }
}
